@font-face {
  font-family: Montserrat-Regular;
  font-size: 1em;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Semibold;
  font-size: 1em;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Montserrat-Regular;
  width: 100%;
}

.menu {
  width: 100%;
  height: 50px;
  background-color: #09F;
  color: #fff;
  position: fixed;
  z-index: 1;
  transition: 0.5s;
}

.menu img {
  width: auto;
  height: 38px;
  margin: 6px 0 0 25px;
  transition: 0.5s;
}

.menu ul {
  float: right;
  padding-top: 15px;
  position: relative;
  position: relative;
  right: 5vw;
  transition: 0.5s;
}

.menu li {
  text-align: center;
  display: inline;
  font-size: 1em;
  font-family: Montserrat-Semibold;
  padding: 0 10px;
  margin: 0 auto;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.menu a:hover {
  font-weight: bold;
}

a:active, a:focus {
  outline: 0;
  border: none;
}

.scrolled {
  width: 100%;
  height: 35px;
  background-color: #09F;
  color: #fff;
  position: fixed;
  z-index: 1;
}

.scrolled img {
  width: auto;
  height: 28px;
  margin: 3px 0 0 25px;
}


.scrolled ul {
  padding-top: 7px;
}

.first-section {
  background-color: #961764;
  color: #fff;
  padding: 50px 0;
}

.first-section h2 {
  text-align: center;
  padding: 20px;
  font-size: 3em;
  font-family: Montserrat-Semibold;
  position: relative;
  text-shadow: 0 3px 4px rgba(0,0,0,0.65);
}

.video {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.video iframe {
  border-radius: 1.5vw;
  align: center;
  width: 65vw;
  height: 36.5vw;
}

.second-section {
  background-color: #F16F21;
  color: #fff;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
}

.subjects {
  width: 100%;
  margin: 0 auto;
}

.subjects h2 {
  text-align: center;
  padding: 20px;
  font-size: 3em;
  font-family: Montserrat-Semibold;
  position: relative;
  text-shadow: 0 3px 4px rgba(0,0,0,0.65);
}

.programming, .eletronic {
  margin: 0 auto;
  text-align: center;
}

.programming h3, .eletronic h3 {
  font-size: 2em;
  padding: 10px 0;
  text-shadow: 0 3px 4px rgba(0,0,0,0.65);
}

#procdados {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%), url("../img/processamento-dados.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 0 0 3px rgba(255,255,255,0.18);
}

#procdados:hover {
  color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%), url("../img/processamento-dados.png");
}

#condicionais {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%), url("../img/condicionais.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 0 0 3px rgba(255,255,255,0.18);
}

#condicionais:hover {
  color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%), url("../img/condicionais.png");
}

#loop {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%), url("../img/loop.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 0 0 3px rgba(255,255,255,0.18);
}

#loop:hover {
  color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%), url("../img/loop.png");
}

#eletricidade {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%), url("../img/eletricidade.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 0 0 3px rgba(255,255,255,0.18);
}

#eletricidade:hover {
  color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%), url("../img/eletricidade.jpg");
}

#resistores {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%), url("../img/resistores.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 0 0 3px rgba(255,255,255,0.18);
}

#resistores:hover {
  color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%), url("../img/resistores.jpg");
}

#semicondutores {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%), url("../img/semicondutores.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 0 0 3px rgba(255,255,255,0.18);
}

#semicondutores:hover {
  color: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%), url("../img/semicondutores.jpg");
}

.programming button, .eletronic button {
  display: inline;
  background-color: #fff;
  color: #000;
  width: 150px;
  height: 150px;
  border: 0;
  box-shadow: 0 0 6px rgba(0,0,0,0.65);
  margin: 30px 10px;
  border-radius: 10%;
  font-size: 1em;
  font-family: Montserrat-Semibold;
  transition: 0.6s;
  cursor: pointer;
}

.programming button:hover, .eletronic button:hover {
  width: 200px;
  height: 200px;
  font-size: 22px;
}

.programming a, .eletronic a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 516px) {
  .programming button, .eletronic button {
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 200px;
    font-size: 1.2em;
  }
  .programming button:hover, .eletronic button:hover {
    width: 250px;
    height: 250px;
    font-size: 1.5em;
  }
}

.third-section {
  width: 100%;
  background-color: #EEE;
  padding: 30px 0 ;
}

.third-section h2 {
  text-align: center;
  padding: 20px;
  font-size: 3em;
  font-family: Montserrat-Semibold;
  position: relative;
  text-shadow: 0 3px 4px rgba(0,0,0,0.35);
}

.third-section ul {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.third-section li {
  margin: 0 auto;
  display: block;
  width: 100%;
  background-color: #BB4512;
  color: #fff;
  font-family: Montserrat-SemiBold;
  border-radius: 5px;
  padding: 10px 0;
  margin: 5px 0;
  cursor: pointer;
}

.text-closed {
  text-align: justify;
  display: none;
}

.text-open {
  text-align: justify;
  display: block;
}

footer {
  background-color: #006AC0;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
}

footer p {
  padding: 40px;
}
